<div id="<%= dom_id blog_entry %>">
  <p>
    <strong>Title:</strong>
    <%= blog_entry.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= blog_entry.slug %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= blog_entry.position %>
  </p>

  <p>
    <strong>Publish at:</strong>
    <%= blog_entry.publish_at %>
  </p>

</div>
